<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>効果測定</title>
    <link rel="stylesheet" href="style.css" >
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  </head>
  
  <body>
    <h2>数覚えゲーム</h2>
    <hr>
    <div id="app"><div id="child">
      <h3>{{ Math.ceil(attack/2) }} ターン目</h3>
      <img v-if="attack%2" v-bind:src="first">
      <img v-else v-bind:src="second">

      <table class="thead">
        <tr>
          <th v-if="start">追加：</th>
          <th v-else>回答：</th>
          <td>{{ numOut }}</td>
          <th class="count" v-if="!start">残り<br>{{ numLen }} 個</th>
        </tr>
      </table>

      <table cellspacing="3">
        <tr>
          <td><button v-bind:disabled="numLen<=0" v-on:click="numIn(7)">7</button></td>
          <td><button v-bind:disabled="numLen<=0" v-on:click="numIn(8)">8</button></td>
          <td><button v-bind:disabled="numLen<=0" v-on:click="numIn(9)">9</button></td>
        </tr>
        <tr>
          <td><button v-bind:disabled="numLen<=0" v-on:click="numIn(4)">4</button></td>
          <td><button v-bind:disabled="numLen<=0" v-on:click="numIn(5)">5</button></td>
          <td><button v-bind:disabled="numLen<=0" v-on:click="numIn(6)">6</button></td>
        </tr>
        <tr>
          <td><button v-bind:disabled="numLen<=0" v-on:click="numIn(1)">1</button></td>
          <td><button v-bind:disabled="numLen<=0" v-on:click="numIn(2)">2</button></td>
          <td><button v-bind:disabled="numLen<=0" v-on:click="numIn(3)">3</button></td>
        </tr>
        <tr>
          <td><button v-bind:disabled="start" v-on:click="del">DEL</button></td>
          <td><button v-bind:disabled="numLen<=0" v-on:click="numIn(0)">0</button></td>
          <td><button v-bind:disabled="numOut.length<=0" v-on:click="equal">Enter</button></td>
        </tr>

        <tr>
          <td colspan="3">
            <label for="switch" class="switch_label">
              <div class="switch">
                <input type="checkbox" id="switch" v-model="check">
                <div class="circle"></div>
                <div class="base"></div>
              </div>
              <span class="title">保存・読込機能 {{ active }}</span>
            </label>
          </td>
        </tr>

        <tr class="local">
          <td colspan="2">
            <button class="save" v-bind:disabled="!check" v-on:click="save">SAVE</button>
          </td>
          <td>
            <button class="load" v-bind:disabled="!check" v-on:click="load">LOAD</button>
          </td>
        </tr>
      </table>
      <a v-bind:href="kouka3"><p><em>GitHubで公開中</em></p></a>
    </div></div>

    <script>
      new Vue({
        el: "#app",
        data: {
          number: [],
          answer: [],
          attack: 1,
          start: true,
          check: false,
          first: '先攻.png',
          second: '後攻.png',
          kouka3: 'https://github.com/zakio826/Vue.js_kouka3'
        },
        computed: {
          numOut: function() {
            if (this.start) return this.answer.join(' → ');
            else return this.number.join(' → ');
          },
          numLen: function() {
            if (this.start) return 1;
            else return this.answer.length - this.number.length;
          },
          active: function() {
            if (this.check) return 'ON';
            else return 'OFF';
          }
        },
        methods: {
          numIn: function(n) {
            if (this.start) this.answer.push(n);
            else this.number.push(n);
          },
          del: function() {
            if (this.start) this.answer.pop();
            else this.number.pop();
            
          },
          equal: function() {
            if (this.start) {
              alert("プレイヤー交代!");
              this.start = false;
              this.attack++;
            }
            else {
              if (this.number.toString() == this.answer.toString()) {
                alert("OK!\n数を追加してください。");
                this.number.splice(0, this.number.length);
                this.start = true;
              } else {
                alert(`NG!\n正解は、 ${this.answer.join(' → ')} でした。`);
                this.number.splice(0, this.number.length);
                this.answer.splice(0, this.answer.length);
                this.attack = 1;
                this.start = true;
              }
            }
          },
          load: function() {
            this.number = JSON.parse(localStorage.getItem('number'));
            this.answer = JSON.parse(localStorage.getItem('answer'));
            this.start = JSON.parse(localStorage.getItem('start'));
            this.attack = JSON.parse(localStorage.getItem('attack'));
            this.check = false;
          },
          save: function() {
            localStorage.setItem('number', JSON.stringify(this.number));
            localStorage.setItem('answer', JSON.stringify(this.answer));
            localStorage.setItem('start', JSON.stringify(this.start));
            localStorage.setItem('attack', JSON.stringify(this.attack));
            this.check = false;
          },
        }
      })
    </script>
  </body>
</html>
