@charset "UTF-8";
html {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

div[id='app'] {
  position: relative;
  width: 75%;
  margin: auto;
}

button, select, optgroup, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  font-size: large;
  border-radius: 6px;
  color: #fff;
  border: 2px;
  background-color: #007bff;
  transition: background-color .2s
}
button:hover {
  background-color: #0069d9;
}
button:active {
  background-color: #003c7c;
}
button:disabled {
  opacity: .5;
  pointer-events: none;
}

.local button {
  margin-top: 12px;
  height: 60px;
  background-color: #ff0077;
}
.local .save {
  width: 75%;
}
.local .load {
  width: 150%;
  margin-left: -50%;
}
.local button:hover {
  background-color: #cc005f;
}
.local button:active {
  background-color: #770038;
}




.switch_label {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
input[type='checkbox'] {
  position: absolute;
  width: 0;
  height: 0;
}
input:checked ~ .base {
  background-color: rgb(85, 228, 213);
  transition: 0.5s;
}
input:checked ~ .circle {
  transform: translateX(18px);
}
.switch {
  position: relative;
}
.circle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: white;
  transition: 0.5s;
}
.base {
  width: 46px;
  border-radius: 15px;
  height: 28px;
  background-color: silver;
  transition: 0.5s;
}
.title {
  margin-left: 12px;
}


.thead {
  position: relative;
  padding-top: 16px;
}
.thead strong {
  position: sticky;
}
.thead td {
  width: auto;
}
.thead th {
  position: sticky;
  width: 3rem;
  height: 3rem;
  left: 0;
}


table {
  width: 100%;
}
td {
  width: 30%;
}


p {
  padding-top: 6px;
}
a p {
  text-align: center;
}


img {
  display: block;
  margin: -12px auto;
  width: 120px;
  height: auto;
}
